* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (min-width: 360px) and (max-width: 767px) {
  .banner {
    min-height: 640px;
  }
  .banner_information {
    z-index: 1;
  }
  .welcome-title {
    width: 328px;
    height: 384px; 
  }
  .logo {
    padding-top: 225px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo_img {
    width: 270px;
    height: 50px;
  }
  .welcome-title-font {
    font-size: 26px;
    line-height: 36px;
  }
  .menu {
    display: flex;
    order: 3;
  }
  #menu__toggle {
    opacity: 0;
    z-index: 2;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__list {
    visibility: visible;
    right: 10%;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 9;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e6be67;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
}
  .menu__list {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 70%;
    right: 0%;
    flex-direction: column;
    width: 128px;
    height: 60%;
    margin: 0;
    padding: 30px 0;
    list-style: none;
    background-color: #b69d67;
    opacity: 0.97;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .5);
    transition-duration: .15s;
    z-index: 5;
  }
  .menu__list-item, .menu__list-item_current {
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    transition-duration: .15s;
  }
  .menu__list-item:hover, .menu__list-item_current:hover {
    background-color: #8a8d8f;
  }
  .trends_posts {
    flex-wrap: wrap;
  }
  .trends_post {
    flex-wrap: wrap;
    flex: 1 1 99%;
    margin-bottom: 10px;
  }
  .content_main{
    flex-direction: column;
    align-items: center;
  }
  .content_main_post {
    max-width: 330px;
    flex-direction: column;
  }
  .content_main_post_image {
    display: flex;
    max-width: 330px;
    justify-content: center;
    align-items: center;
  }
  .content_main_post_img {
    max-width: 330px;
    margin: auto;
  }
  .articals {
    margin: 0 30px;
    min-width: 330px;
    flex: 0 1 35.8vw;
    justify-content: center;
  }
  .shop_posts{
    flex-wrap: wrap;
  }
  .shop_post {
    width: 100%;
    padding-bottom: 50px;
    justify-content: center;
  }
  .shop_post_img {
    margin-bottom: -13px;
  }
  .shop_post_image {
    margin-bottom: 20px;
  }
  .shop_post_text_area {
    width: 300px;
    padding: 30px 0 0 0;
  }
  .footer {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 16px 0 16px; 
  }
  .copyright {
    padding: 50px 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .banner {
    min-height: 392px;
  }
  .banner_information {
    padding-top: 28px;
    width: 90.1vw;
    z-index: 1;
  }
  .logo_img {
    width: 179px;
  }
  .welcome-title {
    width: 620px;
    margin: 0 auto;
  }
  .welcome-title-font {
    font-size: 40px;
    line-height: 55px;
  }
  .header_menu {
    justify-content: left;
    z-index: 1;
  }
  .menu {
     display: flex;
     order: 3;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__list {
    visibility: visible;
    right: 10%;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e6be67;
  opacity: 0.9;
  transition-duration: .15s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__list {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 85%;
  flex-direction: column;
  width: 115px;
  height: 80%;
  margin: 0;
  padding: 50px 0;
  list-style: none;
  background-color: #b69d67;
  opacity: 0.97;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .15s;
  z-index: 2;
}
.menu__list-item, .menu__list-item_current {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__list-item:hover, .menu__list-item_current:hover {
  background-color: #5f91ad;
}
.trends_posts {
  flex-wrap: wrap;
}
.trends_post {
  flex-wrap: wrap;
  flex: 1 1 49%;
  margin-bottom: 3px;
}
.shop_posts {
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 100%;
  justify-content: flex-start;
  align-items: baseline;
  box-sizing: border-box;
  padding:0 19px;
}
.shop_post {
  width: 49%;
  margin-top: 35px;
  box-sizing: border-box;
}
.shop_post:nth-child(odd) {
  margin-right:1px;
}
.shop_post:nth-child(even) {
  margin-left: 1px;
}
.shop_title {
  padding-right: 1px; 
}
.shop_post_text_area {
  margin: 1px;
  width: 305px;
}
.articals {
  margin: 0 30px;
  min-width: 331px;
  flex: 0 1 43vw;
}
.content_main {
  justify-content: center;
}
.content_main_post {
  flex-direction: column;
}
.content_main_post_image {
  display: flex;
  justify-content: center;
}
.sidebar {
  margin-left: 30px;
}
.footer {
  margin-left: auto;
  margin-right: auto;
}
}
@media (min-width: 1200px) {
  .banner {
    min-height: 450px;
  }
  .logo_img {
    width: 179px;
  }
  .welcome-title {
    width: 690px;
    margin: 0 auto;
    z-index: 4;
  }
  .welcome-title-font {
    font-size: 45px;
    line-height: 75px;
  }
 .banner_information {
    width: 64.1vw;
  }
  .header_menu {
    justify-content: center;
    z-index: 4;
  }
  .menu {
    z-index: 4;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__list-item {
    padding-left: 32vw;
  }
  .menu__list-item ~ .menu__list-item_current {
    padding-left: 1.7vw;
    letter-spacing: 0.2px;
  }
  .trends_post {
    flex-wrap: nowrap;
    flex: 1 1 25%;
  }
  .content_main_post {
    align-items: flex-start; 
    margin-right: 85px;
  }
  .content_main_post_image {
    text-align: center;
    min-width: 381px;
    min-height: 294px;
  }
  .articals {
    flex: 1 1 46.8vw
  }
  .shop_posts{
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .shop_post {
    width: 28%;
  }
  .shop_post_text_area {
    width: 92%;
    padding: 5px 0px 0px 0px;
  }
  .shop_post_img {
    width: 100%;
    height: 204px;
    display: flex;
    justify-content: center;
  }
  .footer {
    margin-top: 45px;
  }
  .copyright {
    padding: 67px 0 20px 10px;
  }
}
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff") format("woff"),
         url("../fonts/OpenSans-Regular.woff2") format("woff2"),
         url("../fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;     
  }
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff") format("woff"), 
         url("../fonts/OpenSans-Bold.woff2") format("woff2"),
         url("../fonts/OpenSans-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal; 
  }
  .banner {
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .banner:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
  }
  .banner_information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 28px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
  }
  .header_menu {
    display: flex;
    align-items: center
  }
  .logo {
    display: block;
  }
  .menu__list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
  }
  .menu__list-item {
    text-transform: uppercase;
    font-family: "Open Sans", "Arial";
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    font-style: normal;  
  }
  .menu__list-item:hover, .menu__list-item_current:hover {
    text-transform: uppercase;
    font-family: "Open Sans", "Arial";
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    font-style: normal;
    text-decoration: underline;
  }
  .menu__list-item ~ .menu__list-item_current {
    text-transform: uppercase;
    font-family: "Open Sans", "Arial";
    font-weight: 400;
    font-size: 13px;
    line-height: 1.6;
    color: #ffffff;
    font-style: normal;
  }
  .link {
    text-decoration: none;
    color: #ffffff;
  }
  .welcome-title {
    display: block;
    padding-top: 7vh;
  }
  .welcome-title-font {
    text-transform: uppercase;
    font-family: "Open Sans", "Arial";
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.081px;
    text-align: center;
    font-style: normal;
    z-index: 1;
  }
  .trends {
   display: flex;
   margin-bottom: 30px;
   flex-wrap: nowrap;
   align-items: center;
   flex-direction: column;
   width: 100%;
  }
  .trends_posts {
    display: flex;
  }
  .trends_title {
    text-transform: uppercase;
  }
  .trends_title_link, .title-popup-link {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Open Sans", "Arial";
    text-align: center;
    align-items: center;
    font-weight: 700;
    color: #0f0d0e;
  }
  .trends_title_link::after {
    content: "";
    width: 66px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 25px;
    background: #b59f5b;
  }
  .trends_post {
    display: flex;
    margin-right: 2px;
    margin-left: 1px;
    justify-content: flex-end;
    height: 320px;
    position: relative;
    background-size: cover;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .trends_post::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 0;
  }
  .trends_post:nth-child(1) {
    background-image: url("../images/trend1.jpg");
  }
  .trends_post:nth-child(2) {
    background-image: url("../images/trend2.jpg");
  }
  .trends_post:nth-child(3) {
    background-image: url("../images/trend3.jpg");
  }
  .trends_post:nth-child(4) {
    background-image: url("../images/trend4.jpg");
  }
  .border {
    border: 3px solid #b59f5b;
    margin: 2px 18px 7px 10px;
  }
  .trends_post_text {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 9px;
    justify-content: flex-end;
    z-index: 1;
    box-sizing: content-box;
    min-height: 100px;
    width: 100%;
  }
  .trends_post_text_list {
    display: flex;
    position: relative;
    margin-top: 34px;
    margin-bottom: 7px;
    padding-left: 35px;
  }
  .trends_post_text_tags {
    list-style-type: none;
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans", "Arial";
    text-transform: uppercase;
    padding-right: 20px;
    line-height: normal;
  }
  .trends_post_text_tags:hover {
    text-decoration: underline;
  }
  .trends_post_tag_link {
    text-decoration: none;
    color: #b59f5b
  }
  .trends_post_title {
    position: relative;
    text-align: left;
    padding: 0 10px 25px 35px;
  }
  .trends_post_title_link {
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Open Sans", "Arial";
    font-weight: 700;
    color: #ffffff; 
  }
  .content {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin: 64px auto 0 auto;
    justify-content: space-around;
  }
  .content_main {
    display: flex;
   }
  .articals {
    margin-right: 30px;
  }
  .articals-title {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .content_main_post {
    display: flex;
    padding-bottom: 53px;
  }
  .content_main_post_image {
    display: inline-block;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 2;
    box-sizing: content-box;
    padding-right: 30px;
    padding-top: 3px;
    position: relative;
    z-index: 0;
  }
  .content_main_post_img:before {
    content: '';
    width: 92.7%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgb(102, 102, 102);
    z-index: 0;
   }
  .content_main_post_img:after {
    content: "\2639" " " attr(alt);
    width: 92.7%;
    height: 55%;
    display: block;
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 1;
   }
  .content_main_post_text_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .content_main_post_text_tags {
    list-style-type: none;
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans", "Arial";
    text-transform: uppercase;
    padding-right: 20px;
    line-height: normal;
    padding-bottom: 8px;
  }
  .content_main_post_text_tags:hover {
    text-decoration: underline;
  }
  .main_post_tag_link {
    text-decoration: none;
    color: #b59f5b
  }
  .content_main_post_title {
    display: block;
    font-size: 20px;
    line-height: 1.15;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans", "Arial";
    text-transform: uppercase;
    padding-bottom: 28px;
    text-decoration: none;
  }
  .content_main_post_title:hover {
    color: #b59f5b;
  }
  .content_main_post_subtitle {
    display: inline-block;
    padding-bottom: 32px;
  }
  .content_main_post_datetime {
    font-size: 12px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #888888;
    padding-bottom: 30px;
  }
  .content_main_post_author {
    font-size: 12px;
    font-family: "Open Sans", "Arial";
    font-weight: 700;
    color: #000000;
    padding-left: 8px;
  }
  .content_main_post_paragraph{
    font-size: 15px;
    line-height: 1.4;
    font-family: "Open Sans";
    font-weight: 400;
    color: #0f0d0e; 
    padding-top: 15px;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 270px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .sidebar_posts_title {
    width: 100%;
    margin-bottom: 39px;
  }
  .sidebar_posts_title_link {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    font-family: "Open Sans", "Arial";
    font-size: 14px;
    color: #0f0d0e; 
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.15;
  }
  .sidebar_posts_title_link::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    margin-top: 28px;
    background: #e1d9bd;
  }
  .sidebar_post {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 19px;
  }
  .sidebar_post_content {
    display: flex;
    flex-direction: column;
    margin-left: 19px;
  }
  .sidebar_post_datetime {
    display: block;
    font-size: 12px;
    font-family: "Open Sans", "Arial";
    font-weight: 400;
    color: #888888;
  }
  .sidebar_post_subtitle {
    display: block;
    font-family: "Open Sans", "Arial";
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
  }
  .sidebar_post_subtitle:hover {
    color: #b59f5b;
  }
  .sidebar_post_img {
    min-width: 70px;
    min-height: 70px;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 10px;
    z-index: 3;
  }
  .sidebar_post_image::before {
    content: '';
    width: 99.7%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 10px;
    transform: translateY(-50%);
    background-color: rgb(102, 102, 102);
    z-index: 0;
  }
  .sidebar_post_image::after {
    content: "\2639" " " attr(alt);
    width: 92.7%;
    height: 65%;
    position: absolute;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 10px;
    top: 35%;
    text-align: center;
    z-index: 1;
  }
  .sidebar_search_group {
    padding-top: 38px;
    padding-bottom: 60px;
    display: flex;
    width: 100%;
  }
  .speakit {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .sidebar_field {
    box-sizing: border-box;
    width: 222px;
    border: none;
    height: 48px;
    background-color: #f4f7f6;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans", "Arial";
    padding-left: 18px;
    letter-spacing: 0.02rem;
  }
  .sidebar_field:focus {
    border: 1px solid #b59f5b;
    outline: none;
  }
  .sidebar_button_search {
     box-sizing: border-box;
     height: 48px;
     width: 48px;
     border: none;
     color: #ffffff;
     cursor: pointer;
     margin-left: 0px;
     background-color: #b59f5b;
     background-size: 18px;
     background-image: url("../svg/search.svg");
     background-repeat: no-repeat; 
     background-position: center center; 
  }  
  
  .sidebar_button_search:hover {
    background-color: #323232;
  }
  .sidebar_dispatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   }
  .sidebar_dispatch_title {
    width: 100%;
    margin-bottom: 36px;
  }
  .sidebar_dispatch_title_link {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    font-family: "Open Sans", "Arial";
    font-size: 14px;
    color: #0f0d0e; 
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.15;
  }
  .sidebar_dispatch_title_link::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    margin-top: 27px;
    background: #e1d9bd;
  }
  .sidebar_form_mail_group {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .sidebar_form_mail_input {
    height: 48px;
    width: 270px;
    background-color: #f4f7f6;
    padding: 0 18px;
    border: none;
  }
  .sidebar_form_mail_input:focus {
    height: 48px;
    width: 270px;
    background-color: #f4f7f6;
    padding: 0 18px;
    outline: none;
    border: 1px solid #b59f5b;
  }
  .sidebar_form_mail_button, .btn-popup-form {
    margin-top: 18px;
    margin-bottom: 57px;
    height: 48px;
    width: 100%;
    font-size: 14px;
    font-family: "Open Sans", "Arial";
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    background-color: #b59f5b;
    border: none;
    text-align: center;
  }
  .sidebar_form_mail_button:hover {
   background-color: #323232;
  }
  .sidebar_tag {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    align-items: center;
    width: 100%;
  }
  .sidebar_tags_title {
    width: 100%;
    margin-bottom: 17px;
  }
  .sidebar_tags_title_link {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    font-family: "Open Sans", "Arial";
    font-size: 14px;
    color: #0f0d0e; 
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.15;
  }
  .sidebar_tags_title_link::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    margin-top: 27px;
    background: #e1d9bd;
  }
  .sidebar_tags_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin-top: 25px;
    list-style-type: none;
  }
  .sidebar_tags_list_item {
    min-width: 59px;
    height: 30px;
    border: 3px solid #eeeeee;
    background-color: rgba(244,243,241,0);
    margin-right: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .sidebar_tags_list_item:hover {
    border: 3px solid #b59f5b;
  }
  .sidebar_tags_list_item_link {
    text-decoration: none;
    color:  #0f0d0e;
    font-size: 12px;
    font-family: "Open Sans", "Arial";
    font-weight: 700;
    text-transform: uppercase;
    padding: 3px 13px;
  }
  .sidebar_topic {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
    align-items: center;
    width: 100%;
  }
  .sidebar_topic_title_link {
    display: flex;
    font-family: "Open Sans", "Arial";
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    text-decoration: none;
    line-height: 1.15;
    align-items: flex-start;
    justify-content: center;
  }
  .sidebar_topic_title_link::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 3px;
    margin-top: 28px;
    justify-content: center;
    align-items: center;
    background: #e1d9bd;
  }
  .sidebar_topics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 21px;
  }
  .sidebar_topics_list {
    list-style-type: none;
    margin-top: 0;
  }
  .sidebar_topics_list_item {
    display: flex ;
    width: 100%;
    padding-bottom: 19px;
    padding-top: 5px;
  }
  .sidebar_topics_link::after {
    position: absolute;
    content: "";
    display: block;
    width: 270px;
    height: 1px;
    line-height: 2;
    margin-top: 15px;
    background: #eeeeee;
  }
  .sidebar_topics_link:hover {
    color: #b59f5b;
  }
  .sidebar_topics_link {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans", "Arial";
  }
  .sidebar_topics_supersript {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    vertical-align: super;
  }
  .shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .shop_title_link {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Open Sans", "Arial";
    text-align: center;
    align-items: center;
    font-weight: 700;
    color: #0f0d0e;
  }
  .shop_title_link::after {
    content: "";
    width: 66px;
    height: 3px;
    margin-top: 14px;
    margin-bottom: 20px;
    background: #e1d9bd;
  }
  .shop_posts {
    display: flex;
  }
  .shop_post {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shop_post img {
    object-fit: cover;
    position: relative;
  }
  .shop_post img::before {
     content: '';
     width: 100%;
     height: 100%;
     border-radius: 10px;
     position: absolute;
     top: 50%;
     left: 0;
     transform: translateY(-50%);
     background-color: rgb(102, 102, 102);
     
     z-index: 0;
  }
  .shop_post img::after {
    content: "\2639" " " attr(alt);
    width: 100%;
    height: 55%;
    display: block;
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 1;
 }
  .shop_post_text_area {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    align-items: flex-start;
    outline: 3px solid #b59f5b;
    outline-offset: 20px;
    border: 0px;
    position: relative;
    z-index: 1;
  }
  .shop_post_title_link {
    text-transform: uppercase;
    font-size: 20px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans", "Arial";
  }
  .shop_post_text {
    font-size: 15px;
    line-height: 1.4;
    font-family: "Open Sans";
    font-weight: 400;
    color: #0f0d0e; 
    padding-top: 15px;
  }
  .shop_post_text_link {
    text-decoration: none;
    color:#c7b683;
    text-decoration: underline;
  }
  .shop_post_group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
  .shop_post_group_price {
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans", "Arial";
    padding: 0px 0px 0px 0;
  }
  .shop_post_price_one {
    text-decoration: line-through;
    padding-top: 15px;
    font-size: 14px;
  }
  .shop_post_price_two {
    font-size: 20px;
  }
  .shop_post_button {
    margin-top: 15px;
    height: 50px;
    width: 140px;
    cursor: pointer;
    background-color: #b59f5b;
    border: none;
    text-align: center;
  }
  .shop_post_button_link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans", "Arial";
  }
  .footer {
    width: 100%;
  }
  .social {
    background-color: #f4f7f6;
    padding-top: 0;
  }
  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
  }
  .social-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: 16.5px;
    padding-top: 85px;
    background-repeat: no-repeat;
    background-size: 22.3px;
    background-position: center; 
  }
  .social-icon.social-icon__twitter {
    background-image: url("../svg/004-twitter.svg");
  }
  .social-icon.social-icon__pinterest {
    background-image: url("../svg/001-pinterest.svg");  
  }
  .social-icon.social-icon__facebook {
    background-image: url("../svg/002-facebook-logo.svg");
  }
  .social-icon.social-icon__instagram {
    background-image: url("../svg/005-instagram.svg");
  }
  .social-icon.social-icon__tumblr {
    background-image: url("../svg/003-tumblr.svg");
  }
  .social-icon-text {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .copyright {
    display: block;
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
  }
  .copyright-simbol {
    padding-left: 4px;
    padding-right: 4px;
  }
  .copyright-simbol::after {
    content: "\A9";
  }

  /*start code popup*/
  .mask {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
  }
  .all_popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    width: 390px;
    height: 596px;
    margin:12% auto;
    padding: 5px 32px 32px;
    z-index: 1;
    position: relative;
  }
  .select-title {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    display:flex;
    justify-content:flex-start;
    padding-bottom: 10px;
    padding-top: 12px;
  }
  .textarea-title {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    display:flex;
    justify-content:flex-start;
    padding-bottom: 1px;
    padding-top: 18px;
  }
  .radio-title {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    display:flex;
    justify-content:flex-start;
    padding-bottom: 6px;
    padding-top: 29px;
  }
  .title-popup-link::after {
    content: "";
    width: 66px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 8px;
    background: #b59f5b;
 }
  .popup_form_group {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .form-radio {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }
  .form-radio-hidden{
    display: flex;
    flex-direction: row;
    height: 28px;
    position: relative;
    align-items: center;
    margin-right: 30px;
    padding-top: 10px;
  }
  .radio-text {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
  }
  .form-radio-hidden input{
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
  }
  .form-radio-hidden .radio{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 11px;
    margin-right: 6px;
    border: 1px solid #b59f5b;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: .5s all;
  }
  .form-radio-hidden:hover .radio{
    background-color: #f9f9f9;
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
  }
  .form-radio-hidden input:checked + .radio{
    border-color: #b59f5b;
    background-color: #f9f9f9;
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
    cursor: default;
  }
  .form-radio-hidden:hover .radio::before, .form-radio-hidden input:checked + .radio::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: #b59f5b;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .form-radio-hidden input:checked + .radio::before{
    background-color: #b59f5b;
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
  }
  .popup_form_select {
    height: 48px;
    background-color: #f4f7f6;
    padding: 0 18px;
    border: none;
    width: 100%;
  }
  .popup_form_select:focus {
    height: 48px;
    width: 100%;
    background-color: #f4f7f6;
    padding: 0 18px;
    outline: none;
    border: 2px solid #b59f5b;
  }
  .textarea-input {
    width: 100%;
    height: 131px;
    background-color: #f4f7f6;
    margin-top: 7px;
    margin-bottom: 6px;
    font-size: 16px;
    resize: none;
  }
  .textarea-input:focus {
    width: 100%;
    height: 131px;
    background-color: #f4f7f6;
    outline: none;
    border: 2px solid #b59f5b;
    position: relative;
  }
  ::-webkit-input-placeholder {
    color:#767676;
    padding: 15px 10px 20px 20px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans";
  }
  ::-moz-placeholder {
    color:#767676;
    padding: 15px 10px 20px 20px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans";
  }/* Firefox 19+ */
  :-moz-placeholder {
    color:#767676;
    padding: 15px 10px 20px 20px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans";
  }/* Firefox 18- */
  :-ms-input-placeholder {
    color:#767676;
    padding: 15px 10px 20px 20px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans";
  }
  .popup_form_select {
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 11px center;
    background-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #radio-required:required~.form-radio-stels {
    display: none;
  }
  .form-radio-stels {
    width: 1px;
    opacity: 0;
  }
  .btn-popup-form {
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn-popup-form:hover {
    background-color:#323232;;
  }
  mask {
    position: relative;
    background-size: cover;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    margin: 50px auto 50px auto;
    z-index: 1;
  }
  .mask::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000000;
      opacity: 0.6;
      z-index: 0;
    }

  .popup__btn-close > span,
  .popup__btn-close > span::before {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.9;
    transition-duration: .15s;
    z-index: 3;
}
#popup__toggle {
  opacity: 0;
  z-index: 2;
  margin-left: 330px;
}
#popup__toggle:hover ~ .popup__btn-close > span {
  background-color:#D6E4F0;
}
#popup__toggle:checked ~ .popup__btn-close > span {
  transform: rotate(1800deg);
  background-color:#b59f5b;
}
#popup__toggle:checked ~ .popup__btn-close > span::before {
  top: 0;
  transform: rotate(-900deg);
  background-color:#b59f5b;
}
#popup__toggle:hover ~ .popup__btn-close > span::before {
  top: 0;
  background-color:#D6E4F0;
}
#popup__toggle~ .menu__list {
  visibility: visible;
  right: 10%;
}
.popup__btn-close {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 50px;
  left: 330px;
  width: 29px;
  height: 29px;
  cursor: pointer;
  z-index: 3;
}
.popup__btn-close > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  transition-duration: .25s;
}
.popup__btn-close > span::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  transform: rotate(90deg);
  transition-duration: .25s;
}
.popup__btn-close  > span {
  content: '';
  top: 5px;
  left: 2px
}
.popup__btn-close  > span::before {
  content: '';
}